* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, helvetica;
  line-height: 1.7em;
  background: url('../restaurante.jpg') no-repeat center center/cover;
  background-attachment: fixed;

}

a {
  color: #333;
  text-decoration: none;
}

h1, h2, h3 {
  padding-bottom: 20px;
}

p {
  margin: 10px 0;
}
/* Clases Generales */

.container {
  margin: auto;
  max-width: 1100px;
  overflow: auto;
  padding: 0 20px;
}


 #navbar {
   background: #12539A;
   color: #fff;
   overflow: auto;
 }

#navbar a {
  color: #fff;
}



#navbar ul {
  list-style: none;
  margin-left: 600px;

}

#navbar ul li{
  float: left;
  margin-left: 5px;
  margin-right: 5px;
}

#navbar ul li a {
  display: block;
  padding: 20px;
  text-align: center;
}

#navbar ul li a:hover,
#navbar ul li a.current {
  border-color: #3d8e33;
  background: #FFF;
  color: #5BBF21;
}


h1{
  font-size: 5em;
  text-align: center;
padding-top: 150px;
padding-bottom: 150px;
  margin-bottom: none;
  text-shadow: -3px  5px  3px #543533;
  color: white;

}


#rest1{

    height: 600px;
}

#fundacion {
  float: left;
  width: 50%;
  height: 50%;
  text-align: center;
  padding: 50px 30px;
  overflow: hidden;
  background: rgba(101, 126, 209, .1);
}

#chefs {
  float: right;
  width: 50%;
  height: 50%;
  text-align: center;
  padding: 50px 30px;
  overflow: hidden;
  background: rgba(101, 126, 209, .1);
}


h2{
  color: white;
}

p{
  color: white;
  font-size: 1.5em;
  text-shadow: -7px 7px 7px #543533;
}

#rest2{

  width: 100%;
  height: 40%;
  text-align: center;
  padding: 50px 30px;
  overflow: hidden;
  background: rgba(101, 126, 209, .3);

}

h2{
  font-size: 3em;
}



#comidas {
  float: left;
  width: 50%;
  height: 50%;
  text-align: center;
  padding: 50px 30px;
  overflow: hidden;
  background: rgba(101, 126, 209, .1);
}

#bebidas {
  float: right;
  width: 50%;
  height: 50%;
  text-align: center;
  padding: 50px 30px;
  overflow: hidden;
  background: rgba(101, 126, 209, .1);
}


#comidas table tr td{
  color: white;
  font-size: 1.5em;
  text-shadow: -7px 7px 2px #543533;
  padding: 20px
  }
#bebidas table tr td{
    color: white;
    font-size: 1.5em;
    text-shadow: -7px 7px 2px #543533;
    padding: 20px
  }

  #taller {
    width: 100%;
    height: 50%;
    text-align: center;
    padding: 50px 30px;
    overflow: hidden;
    background: rgba(101, 126, 209, .1);
  }
